html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

img {
  display: block;
}

.container {
  max-width: 1218px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #52503B;
  position: fixed;
}
.header__content {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__button {
  width: 116px;
  height: 52px;
  border: 4px solid #52503B;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #52503B;
}
.header__button:hover {
  background-color: #52503B;
  color: #FFFFFF;
}

.navigation__list-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.header__button:hover {
  background-color: #7c7419;
  color: #FFFFFF;
}

.navigation__list-item:hover {
  text-shadow: 0.1px 0.2px #ffffff;
}

.navigation__list {
  display: flex;
}
.navigation__list-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}
.navigation__list-item:not(:last-child) {
  margin-right: 24px;
}
.navigation__list-link {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.main {
  width: 100%;
  display: block;
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__inner {
  min-height: calc(100vh + 85px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__logo {
  display: block;
  width: 256px;
  height: 90px;
  margin: 0 auto;
}
.main__title {
  width: 1170px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 34px;
}
.main__descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 34px;
  text-align: center;
}

.promo {
  width: 1440px;
  height: 410px;
  background-color: #FAF8F0;
}
.promo__content {
  display: flex;
  justify-content: center;
}
.promo__content-descr {
  width: 360px;
  height: 180px;
  margin-top: 174px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.promo__content-action {
  width: 343px;
  height: 80px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-top: 174px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.promo__button {
  width: 107px;
  height: 42px;
  margin-top: 41px;
  border: 1px solid #52503B;
  border-radius: 6px;
  color: #52503B;
  background: transparent;
  padding-top: 11px;
  padding-bottom: 11px;
}

.promo__button:hover {
  background-color: #52503B;
  color: white;
}

.alert {
  background-color: #FFFFFF;
  align-items: center;
}
.alert__descr {
  max-width: 1287px;
  width: 100%;
  margin-top: 140px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  color: #52503B;
  margin-bottom: 140px;
}

.room {
  background-color: #FAF8F0;
}
.room__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #52503B;
  padding-top: 138px;
}
.room__descr {
  max-width: 554px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #52503B;
  margin: 14px auto;
}
.room__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.room__content-items {
  text-align: center;
  align-items: center;
  margin-right: 72px;
}
.room__content-logo {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.room__content-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #52503B;
  margin-top: 12px;
}
.room__content-descr {
  width: 346px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #52503B;
  margin-bottom: 99px;
}

.advantage {
  background-color: white;
}
.advantage__inner {
  margin-top: 136px;
}
.advantage__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #52503B;
}
.advantage__descr {
  width: 554px;
  margin-top: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #52503B;
}
.advantage__content {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.advantage__content-items {
  display: flex;
  width: 548px;
  margin-bottom: 50px;
}
.advantage__content-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #52503B;
  margin-left: 16px;
}
.advantage__content-descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #52503B;
  margin-left: 16px;
}
.advantage__content-pic {
  width: 36px;
  height: 36px;
}

.reviews {
  background-color: #FAF8F0;
}
.reviews__inner {
  padding-top: 138px;
}
.reviews__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #52503B;
}
.reviews__descr {
  margin-top: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #52503B;
}
.reviews__review {
  display: flex;
  margin-top: 30px;
}
.reviews__content {
  background-color: white;
  width: 584px;
  margin-right: 20px;
  margin-bottom: 131px;
}
.reviews__content-stars {
  display: flex;
  margin-top: 33px;
  margin-left: 31px;
}
.reviews__content-title {
  margin-top: 10px;
  margin-left: 31px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}
.reviews__content-descr {
  margin-top: 11px;
  margin-left: 31px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.reviews__content-name {
  margin-top: 19px;
  margin-left: 41px;
  margin-bottom: 31px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.marketing {
  background-color: white;
  display: flex;
}
.marketing__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 138px;
  margin-bottom: 130px;
}
.marketing__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #52503B;
}
.marketing__descr {
  width: 514px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #52503B;
  margin-top: 14px;
}
.marketing__advantage {
  display: flex;
  flex-wrap: wrap;
  padding-left: 55px;
}
.marketing__advantage-items {
  width: 260px;
  display: flex;
  margin-right: 37px;
  margin-bottom: 59px;
}
.marketing__advantage-logo {
  width: 36px;
  height: 35px;
  margin-right: 16px;
}
.marketing__advantage-descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.order {
  background-color: #faf8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order .order__inner {
  padding-top: 138px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__actions {
  display: flex;
}
.order__title {
  width: 533px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #52503B;
}
.order__descr {
  width: 514px;
  margin-top: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #52503B;
}
.order__contact {
  width: 116px;
  height: 52px;
  border: 4px solid #52503B;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #52503B;
  margin-top: 18px;
  margin-right: 20px;
}
.order__contact:hover {
  background-color: #52503B;
  color: #FFFFFF;
}
.order__book {
  width: 116px;
  height: 52px;
  border: 4px solid #52503B;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #52503B;
  margin-top: 18px;
}
.order__book:hover {
  background-color: #52503B;
  color: #FFFFFF;
}

.order__contact:hover, .order__book:hover {
  border: none;
  background-color: #52503B;
  color: white;
}

.footer {
  background-color: #52503B;
  height: 608px;
}
.footer__inner {
  padding-top: 110px;
}
.footer__section {
  display: flex;
  justify-content: space-between;
}
.footer__section-descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.footer__section-social {
  width: 136px;
}
.footer__section-social_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__section-social_icons {
  display: flex;
}
.footer__section-social_icon {
  margin-right: 16px;
}
.footer__section-submit_input {
  width: 576px;
  padding: 16px 0 16px 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #52503B;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
}
.footer__section-submit_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__section-submit_descr {
  width: 563px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 9px;
}
.footer__section-submit_button {
  border: 1px solid #52503B;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #52503B;
  position: relative;
  padding: 5px 5px 5px 5px;
  position: relative;
  right: 73px;
}
.footer__section-submit_button:hover {
  background-color: #52503B;
  color: #FFFFFF;
}
.footer__logo {
  width: 200px;
  height: 70px;
  margin: 48px auto 20px auto;
}
.footer__rights {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__adres {
  background-color: #52503B;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.footer li {
  cursor: pointer;
  margin-bottom: 10px;
}
.footer li:hover {
  text-shadow: 0.1px 0.2px #FFFFFF;
}/*# sourceMappingURL=style.css.map */