@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

.container{
    max-width: 1440px;
}

.alert{
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;

    &__descr{
        width: 1287px;
        margin-top: 140px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 96px;
        text-align: center;
        color: #52503B;
        margin-bottom: 140px;
    }
}