

.footer {
	background-color: $header-color;
	height: 608px;


	&__inner{
		padding-top: 110px;
	}

	&__section {
		display: flex;
		justify-content: space-between;

		&-descr {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 2px;
			color: #FFFFFF;

		}

		&-social {
			width: 136px;
			

			&_title {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: #FFFFFF;
				margin-bottom: 20px;
			}

			&_icons{
				display: flex;
			}

			&_icon {
				margin-right: 16px;
			}
		}

		&-submit {

			&_input {
				width: 576px;
				padding: 16px 0 16px 30px;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: #52503B;
				background: #F9FAFB;
				border: 1px solid #E5E7EB;
				border-radius: 8px;

			}

			&_title {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: #FFFFFF;

			}

			&_descr {
				width: 563px;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: #FFFFFF;
				margin-bottom: 9px;
			}

			&_button {
				@include footer__btn;
			}

		}



	}

	&__logo {
		width: 200px;
		height: 70px;
		margin: 48px auto 20px auto;
		
	}

	&__rights {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #FFFFFF;
		margin-bottom: 20px;
	}

	&__adres {
		background-color: #52503B;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: #FFFFFF;
		
	}

	li {
		cursor: pointer;
		margin-bottom: 10px;
	}

	li:hover {
		text-shadow: 0.1px 0.2px #FFFFFF;
	}
}