.marketing{
    background-color: $background-white;
    display: flex;

    &__inner{
        display: flex;
        justify-content: space-between;
        margin-top: 138px;
        margin-bottom: 130px;
    }

    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        color: #52503B;
    }

    &__descr{
        width: 514px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #52503B;
        margin-top: 14px;
        
        

    }

    &__advantage{
        display: flex;
        flex-wrap: wrap;
        padding-left: 55px;

        &-items{
            width: 260px;
            display: flex;
            margin-right: 37px;
            margin-bottom: 59px; 
            
        }
        &-logo{
            width: 36px;
            height: 35px;
            margin-right: 16px;
        }

        &-descr{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
        }
    }
}