.promo{
    width: 1440px;
    height: 410px;
    background-color: $background-grey;
    
    &__content{
        display: flex;
        justify-content: center;
        


        &-descr{
            width: 360px;
            height: 180px;
            margin-top: 174px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
        }

        &-action{
            width:343px;
            height:80px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            margin-top: 174px;
            margin-left: 40px;
            display: flex;
            flex-direction: column;
        }
    }

    &__button{
        width: 107px;
        height: 42px;
        margin-top: 41px;
        border: 1px solid #52503B;
        border-radius: 6px;
        color: #52503B;
        background: transparent;
        padding-top: 11px;
        padding-bottom: 11px;
    }
}

.promo__button:hover{
    background-color: #52503B;
    color: #ffff;
}