@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

.advantage{
    background-color: #ffff;

    &__title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        color: #52503B;
        margin-top: 138px;
        margin-left: 136px;
    }

    &__descr{
        width: 554px;
        margin-top: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #52503B;
        margin-left: 136px;
    }

    &__content{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;

        &-items{
            display: flex;
            margin-left: 136px;
            width: 548px;
            margin-bottom: 50px;
        }

        &-title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #52503B;
            margin-left: 16px;
        }

        &-descr{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #52503B;
            margin-left: 16px;
        }

        &-pic{
            width: 36px;
            height: 36px;
        }
    }


}